.msg1{
    background-color: #f70c0c;
    color: blue;
    align-items: center;
    font-size: medium;
}
.msg2{
    background-color: #9df70c;
    color: purple;
    align-items: center;
    font-size: medium;
}